
.article{
    display: flex;
    justify-content: center;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    max-width: 1200px;
}

#info{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    max-width: 400px;
}

#info img{
    width: 100%;
}

#info div p:first-child{
    font-weight: 700;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    max-width: 1200px;
}

#content form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#content form .group {
    display: flex;
    flex-direction: column;
}

#content form label {
    color: #261c85;
    width: fit-content;
}

#content form input{
    border: none;
    outline: none;
    border: 1px solid #d4d4d4;
    padding: 10px;
    resize: none;
}
#content form input[type='submit']{
    cursor: pointer;
}
#content form input[type='submit'] {
    width: 100%;
    max-width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #261c85;
    color: #fff;
    text-align: center;
}
#content form input[type='submit']:hover {
    background-color: #3f2fce;
    border: 1px solid #3f2fce;
}

#content form #wcontent{
    border: none;
    outline: none;
    border: 1px solid #d4d4d4;
    padding: 5px;
    resize: none;
    min-height: 200px;
    padding: 10px;
}

#content form #category
{
    border: 1px solid #d4d4d4;
    padding: 10px;
    background-color: #fff;
}

#content form #category:focus, #content form input:focus, #content form #wcontent:focus{
    border: 1px solid #261c85;
}